{% extends 'main.html' %}

{% block content %}

<div>
    <form method="POST" action="{% url 'login' %}">
        {%csrf_token%}

        <label>UserName:</label>
        <input type="text" name="username" placeholder="Enter your username">

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter your password">

        <input type="submit" value="Login">
    </form>
</div>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li class="alert">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}